In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))


<img src="img/company-logo.png" width=120 height=120 align="right">

Author: Prof. Manoel Gadi

Contact: manoelgadi@gmail.com

Teaching Web: http://mfalonso.pythonanywhere.com

Linkedin: https://www.linkedin.com/in/manoel-gadi-97821213/

Github: https://github.com/manoelgadi

Last revision: 27/October/2022

# Session 2 - Exploratory Data Analysis in Python

## Python Ecosystem
<img src="img/scipy_ecosystem.png" width=400 height=300 align="left">

## Python Pandas DataFrame
A **DataFrame** in pandas is a tabular, spreadsheet-like (Excel-like) structure with an **ordered** collection of columns, each with potentially a different type.

<img src="img/pandas_df_structure.png" width=400 height=300 align="left">

Like in Excel, DataFrames have **both** column name and row indexes:
* .iloc (index locator) accessing the data via a list [0,1,2,...,N] and 
* .loc accessing the data as dictionary {key:value}. 

There will be more tecninical details about pandas in further classes... Let's play with its basic functionalities first.

## Growing with Pandas - Reading files using Pandas

importing pandas library with an alias

In [ ]:
print(dir())

In [ ]:
import pandas as pd

In [ ]:
print(dir())

### importing dataset using pd.read_excel() function

In [ ]:
df = pd.read_excel("datasets/yahoo.xlsx")
df.head(2)

## import SAS dataset using pd.read_spss() function

In [ ]:
df = pd.read_sas("datasets/DCSKINPRODUCT.sas7bdat")
df.head(2)

## import data from a SQL database

In [ ]:
import sqlite3
conn = sqlite3.connect('datasets/company_balancesheet_database.db')
df = pd.read_sql("""
 SELECT *
    FROM balancesheet
""", conn)
df.head(2)

## import data from HTML directly from a Website!

In [ ]:
list_dfs = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [ ]:
type(list_dfs)

In [ ]:
list_dfs[3]

In [ ]:
len(list_dfs)

In [ ]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Historical population')

In [ ]:
df = table_MN[0]
df.head(2)

## import dataset using pd.read_csv() function

In [ ]:
df = pd.read_csv("datasets/anorexia.csv")
df.head(2)

---
## Exercise

Import 2 datasets into 2 different dataframes:
* census_train.csv
* census_test.csv

# Exploratory Data Analysis

In [2]:
# import libraries numpy, pandas, and scipy.stats module
import pandas as pd

In [3]:
# import dataset using pd.read_csv() function
df = pd.read_csv("datasets/anorexia.csv")

In [4]:
df

     ID  group  prewt  postwt  difwt
0   101      1   80.5    82.2    1.7
1   201      2   80.7    80.2   -0.5
2   301      3   83.8    95.2   11.4
3   102      1   84.9    85.6    0.7
4   202      2   89.4    80.1   -9.3
..  ...    ...    ...     ...    ...
67  126      1   79.7    83.6    3.9
68  226      2   89.0    78.8  -10.2
69  127      1   84.5    84.6    0.1
70  227      1   80.8    96.2   15.4
71  128      1   87.4    86.7   -0.7

[72 rows x 5 columns]

In [5]:
df.head()

    ID  group  prewt  postwt  difwt
0  101      1   80.5    82.2    1.7
1  201      2   80.7    80.2   -0.5
2  301      3   83.8    95.2   11.4
3  102      1   84.9    85.6    0.7
4  202      2   89.4    80.1   -9.3

In [6]:
df.tail()

     ID  group  prewt  postwt  difwt
67  126      1   79.7    83.6    3.9
68  226      2   89.0    78.8  -10.2
69  127      1   84.5    84.6    0.1
70  227      1   80.8    96.2   15.4
71  128      1   87.4    86.7   -0.7

In [7]:
df.columns

Index(['ID', 'group', 'prewt', 'postwt', 'difwt'], dtype='object')

In [8]:
df.shape

(72, 5)

In [9]:
df.dtypes

ID          int64
group       int64
prewt     float64
postwt    float64
difwt     float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      72 non-null     int64
 1   group   72 non-null     int64
 2   prewt   72 non-null     float64
 3   postwt  72 non-null     float64
 4   difwt   72 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 2.9 KB

In [11]:
df.describe()

               ID      group      prewt      postwt      difwt
count   72.000000  72.000000  72.000000   72.000000  72.000000
mean   197.736111   1.833333  82.408333   85.172222   2.763889
std     76.495419   0.787222   5.182466    8.035173   7.983598
min    101.000000   1.000000  70.000000   71.300000 -12.200000
25%    118.750000   1.000000  79.600000   79.325000  -2.225000
50%    208.500000   2.000000  82.300000   84.050000   1.650000
75%    226.250000   2.000000  86.000000   91.550000   9.100000
max    317.000000   3.000000  94.900000  103.600000  21.500000

In [12]:
df['group'].value_counts()

1    29
2    26
3    17
Name: group, dtype: int64

---

# Descriptive statistics

Descriptive statistics is the process of describing the sample.
For this, centrality measures, dispersion measures, distribution form and outliers are used.
Visualizations can also be used to explore and make sense of the data.

## PART 1 - Measures of central tendency

### Mean (Arithmetic Mean or Arithmetic Average)

The mean (or average) is the most popular and well-known measure of central tendency. It can be used with both discrete and continuous data, although its use is more frequent with continuous data. The average is equal to the sum of all the values in the data set divided by the number of values in the data set. Therefore, if we have n values in a data set and they have values x1, x2, ..., xn, the mean of the sample, usually denoted by (pronounced x bar):

\begin{equation*}
\overline{x} =
\frac{( x_1 + x_2 + ... + x_n )} {N}
\end{equation*}

This formula is usually written in a slightly different way using the Greek capital letter, which is pronounced "sigma," which means "sum of ...":

\begin{equation*}
\overline{x} = \frac{\left( \sum_{k=1}^n x_k \right)} {N}
\end{equation*}

You may have noticed that the above formula refers to the sample mean. So why have we called it a sample mean? This is because, in statistics, samples and populations have very different meanings and these differences are very important, even if, in the case of the average, they are calculated in the same way. To recognize that we are calculating the population mean and not the sample mean, we use the lowercase Greek letter "mu", indicated as µ:

\begin{equation*}
\mu = \frac{\left( \sum_{k=1}^n x_k \right)} {N}
\end{equation*}

Lets calculate some "mean" using Python for the anorexia.csv database

In [4]:
df.columns

Index(['ID', 'group', 'prewt', 'postwt', 'difwt'], dtype='object')

In [5]:
df.mean()

ID        197.736111
group       1.833333
prewt      82.408333
postwt     85.172222
difwt       2.763889
dtype: float64

In [6]:
df.std()

ID        76.495419
group      0.787222
prewt      5.182466
postwt     8.035173
difwt      7.983598
dtype: float64

In [8]:
df['group'].mode()

0    1
dtype: int64

In [12]:
df['group'].value_counts(normalize=True)

1    0.402778
2    0.361111
3    0.236111
Name: group, dtype: float64

__QUESTION FOR DISCUSSIOS__: What does the previous result mean?

Now, to continue analyzing mode, it would be a good idea to understand a little more about our database and mainly the __group__ column. According to https://stat.ethz.ch/R-manual/R-devel/library/MASS/html/anorexia.html, our database anorexia.csv weight change data for young patients with female anorexia.
This dataset contains the recorded weights of anorexic patients before and after a treatment.

* Group 1: Behavioural therapy
* Group 2: Control group
* Group 3: Family therapy

The Prewt column

      Indicates the patient's weight before the study period, in pounds.

Postwt

      Indicates the patient's weight after the study period, in pounds.

---

It ends up being easier to see this result, if instead of using mode, we directly draw a __frequency table__ and a __histogram graph__ by group.

### Frequency table

In [24]:
df.groupby(['group']).describe().T

group                  1           2           3
ID     count   29.000000   26.000000   17.000000
       mean   118.379310  213.500000  309.000000
       std     22.398045    7.648529    5.049752
       min    101.000000  201.000000  301.000000
       25%    108.000000  207.250000  305.000000
       50%    115.000000  213.500000  309.000000
       75%    122.000000  219.750000  313.000000
       max    227.000000  226.000000  317.000000
prewt  count   29.000000   26.000000   17.000000
       mean    82.689655   81.557692   83.229412
       std      4.845495    5.707060    5.016693
       min     70.000000   70.500000   73.400000
       25%     80.400000   77.725000   80.500000
       50%     82.600000   80.650000   83.300000
       75%     85.000000   85.875000   86.000000
       max     94.900000   91.800000   94.200000
postwt count   29.000000   26.000000   17.000000
       mean    85.696552   81.107692   90.494118
       std      8.351924    4.744253    8.475072
       min     71.300000   73.000000   75.200000
       25%     81.900000   77.575000   90.700000
       50%     83.900000   80.700000   92.500000
       75%     90.900000   84.675000   95.200000
       max    103.600000   89.600000  101.600000
difwt  count   29.000000   26.000000   17.000000
       mean     3.006897   -0.450000    7.264706
       std      7.308504    7.988705    7.157421
       min     -9.100000  -12.200000   -5.300000
       25%     -0.700000   -7.000000    3.900000
       50%      1.400000   -0.350000    9.000000
       75%      3.900000    3.600000   11.400000
       max     20.900000   15.900000   21.500000

In [25]:
df.groupby(['group']).describe().to_excel("results.xlsx")

In [ ]:
df[['group','ID']].groupby(['group']).count()

In [22]:
df.describe()

               ID      group      prewt      postwt      difwt
count   72.000000  72.000000  72.000000   72.000000  72.000000
mean   197.736111   1.833333  82.408333   85.172222   2.763889
std     76.495419   0.787222   5.182466    8.035173   7.983598
min    101.000000   1.000000  70.000000   71.300000 -12.200000
25%    118.750000   1.000000  79.600000   79.325000  -2.225000
50%    208.500000   2.000000  82.300000   84.050000   1.650000
75%    226.250000   2.000000  86.000000   91.550000   9.100000
max    317.000000   3.000000  94.900000  103.600000  21.500000

# RECAP: WHICH DATAFRAME METHODS SHOULD YOU REMEMBER AFTER THIS CLASS?

* __describe()__:df.describe() - summary statistics of numeric variables
* __value_counts()__: df.group.value_counts() - frequency table applicable for categorical variables


## NICE TO REMBER:
* __groupby()__: df[['group','ID']].groupby(['group']).count() - df.groupby to do analysis by group like in SQL: 
SELECT COUNT(*) FROM df GROUP BY group;

# What should you know so far?

* df.head()
* df.describe()
* df.value_counts()
* df.groupby('column_name').describe()
    

Let's hear a "AMAZING" song: <a href="https://youtu.be/1ftw05DYasM"> https://youtu.be/1ftw05DYasM </a>

<a href="https://youtu.be/1ftw05DYasM"> <img src="img/head_describe_value_counts_song.png" width=400 height=300 align="center"> </a>

---

---
## Exercise 2

1. Make a quick EDA with the census_train.csv dataset
2. Analyse the percentage of people of each level of education that earns above 50k