# Exercises for Main Session 1 - Meeting Python in Anaconda

### 1. Open Anaconda Python

In [1]:
#Code

### 2. Start Anaconda Prompt

In [2]:
#Code

### 3. Check all libraries installed in Python Base in Anaconda Prompt

In [3]:
#Code

### 4. Check all libraries installed using Anaconda Environments

In [4]:
#Code

### 5. Create a new Environment called CDAMP

In [5]:
#Code

### 6. Install Pandas in the CDAMP environment

In [ ]:
#Code

### 7. Install Visual Code

In [ ]:
#Code

### 8. How to get the first 20 values of all columns into our dataframe?

In [ ]:
#Code

### 9. How to obtain a global dataframe description?

In [ ]:
#Code

### 10. How to get a frequency of labels into a dataframe's labels column?

In [ ]:
#Code

### Solutions

In [2]:
#1. 
import pandas as pd
import sqlite3

In [3]:
#2
df_excel = pd.read_excel('./data/yahoo.xlsx')

In [4]:
#3
sd_sas = pd.read_sas('./data/DCSKINPRODUCT.sas7bdat')

In [6]:
#4.
conn = sqlite3.connect('./data/company_balancesheet_database.db')
df_sql = pd.read_sql_query("SELECT * FROM balancesheet", conn)

In [7]:
#5.
list_dfs = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [10]:
#6.
df_json = pd.read_json('./data/default.json')

In [13]:
#7.
df_excel.shape

(86, 65)

In [14]:
#8.
df_excel.head(20)

,Unnamed: 0,ticker,country,sector,RefIndex,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio,...,Trailing Annual Dividend Rate,Trailing Annual Dividend Yield,5 Year Average Dividend Yield,Payout Ratio,Dividend Date,Ex-Dividend Date,Last Split Factor,Last Split Date,ScrapedName,Sector
0,0,GOOG,USA,Technology,SPY,818.1B,712.95B,50.67,24.46,1.70,...,NaN,NaN,NaN,0.00%,NaN,NaN,10000000/10000000,"Apr 27, 2015",Alphabet Inc. (GOOG),Technology
1,1,MSFT,USA,Technology,SPY,879.31B,830.01B,53.84,23.26,2.14,...,1.68,1.47%,2.35,77.46%,"Dec 13, 2018","Nov 14, 2018",2/1,"Feb 18, 2003",Microsoft Corporation (MSFT),Technology
2,2,FB,USA,Technology,SPY,477.58B,428.23B,25.59,19.86,1.02,...,NaN,NaN,NaN,0.00%,NaN,NaN,NaN,NaN,"Facebook, Inc. (FB)",Technology
3,3,T,USA,Technology,SPY,246.25B,424.67B,6.63,9.32,1.56,...,1.99,5.89%,5.25,38.79%,"Aug 1, 2018","Jul 9, 2018",2/1,"Mar 20, 1998",AT&amp;T Inc. (T),Communication Services
4,4,ORCL,USA,Technology,SPY,203.99B,192.27B,56.93,14.04,1.79,...,0.76,1.49%,1.36,78.35%,"Oct 30, 2018","Oct 15, 2018",2/1,"Oct 13, 2000",Oracle Corporation (ORCL),Technology
5,5,VZ,USA,Technology,SPY,221.22B,340.36B,7.10,11.27,1.95,...,2.36,4.34%,4.52,31.26%,"Nov 1, 2018","Oct 9, 2018",1000000/937889,"Jul 2, 2010",Verizon Communications Inc. (VZ),Communication Services
6,6,TSM,USA,Technology,SPY,224.73B,209.58B,20.09,17.74,1.29,...,0.26,0.60%,NaN,60.50%,"Jul 19, 2018","Jun 25, 2018",1005/1000,"Jul 15, 2009",Taiwan Semiconductor Manufactur (TSM),Technology
7,7,INTC,USA,Technology,SPY,216.3B,231.07B,16.92,10.99,1.11,...,1.14,2.45%,2.88,41.19%,"Dec 1, 2018","Nov 6, 2018",2/1,"Jul 31, 2000",Intel Corporation (INTC),Technology
8,8,CSCO,USA,Technology,SPY,221.44B,201.08B,"2,422.00",14.90,1.80,...,1.24,2.55%,2.99,"6,200.00%","Oct 24, 2018","Oct 4, 2018",2/1,"Mar 23, 2000","Cisco Systems, Inc. (CSCO)",Technology
9,9,IBM,USA,Technology,SPY,136.94B,172.15B,24.17,10.69,11.42,...,6.07,4.01%,3.16,97.28%,"Sep 10, 2018","Aug 9, 2018",2/1,"May 27, 1999",International Business Machines (IBM),Technology
10,10,NVDA,USA,Technology,SPY,161.55B,154.24B,38.73,33.30,2.10,...,0.59,0.22%,1.08,8.61%,"Sep 21, 2018","Aug 29, 2018",3/2,"Sep 11, 2007",NVIDIA Corporation (NVDA),Technology
11,11,ACN,USA,Technology,SPY,110.61B,106.43B,27.65,23.75,2.54,...,2.66,1.53%,2.00,42.63%,"May 15, 2018","Apr 11, 2018",1/10,"Dec 30, 2011",Accenture plc Class A Ordinary (ACN),Technology
12,12,TXN,USA,Technology,SPY,106.75B,106.93B,25.26,17.77,1.35,...,2.36,2.14%,2.38,54.13%,"Nov 19, 2018","Jul 30, 2018",2/1,"May 23, 2000",Texas Instruments Incorporated (TXN),Technology
13,13,VOD,USA,Technology,SPY,58.53B,100.13B,22.21,NaN,NaN,...,0.18,0.77%,5.74,93.65%,"Aug 3, 2018","Jun 7, 2018",4905/5000,"Feb 24, 2014",Vodafone Group Plc - American D (VOD),Communication Services
14,14,QCOM,USA,Technology,SPY,108.1B,94.84B,NaN,16.72,1.94,...,2.33,3.16%,3.05,NaN,"Sep 26, 2018","Sep 4, 2018",2/1,"Aug 16, 2004",QUALCOMM Incorporated (QCOM),Technology
15,15,ADBE,USA,Technology,SPY,129.32B,124.77B,60.86,33.99,1.64,...,NaN,NaN,NaN,0.00%,NaN,"Mar 24, 2005",2/1,"May 24, 2005",Adobe Systems Incorporated (ADBE),Technology
16,16,BIDU,USA,Technology,SPY,79.34B,67.81B,20.58,19.04,54.20,...,NaN,NaN,NaN,0.00%,NaN,NaN,10/1,"May 12, 2010","Baidu, Inc. - American Deposita (BIDU)",Technology
17,17,AAPL,USA,Consumer,SPY,1.07T,1.09T,20.00,16.13,1.72,...,2.62,1.20%,1.77,23.69%,"Aug 16, 2018","Aug 10, 2018",7/1,"Jun 9, 2014",Apple Inc. (AAPL),Technology
18,18,PG,USA,Consumer,SPY,209.76B,234.51B,22.96,17.89,2.99,...,2.79,3.25%,3.18,75.91%,"Aug 15, 2018","Jul 19, 2018",2/1,"Jun 21, 2004",Procter &amp; Gamble Company (The) (PG),Consumer Defensive
19,19,BUD,USA,Consumer,SPY,174.2B,291.63B,22.63,18.03,2.43,...,2.50,2.71%,3.20,106.09%,"May 30, 2018","May 1, 2018",NaN,NaN,Anheuser-Busch Inbev SA Sponsor (BUD),Consumer Defensive

In [16]:
df_excel.describe()

,Unnamed: 0,Forward P/E,PEG Ratio,Price/Sales,Price/Book,Enterprise Value/Revenue,Enterprise Value/EBITDA,Diluted EPS,Current Ratio,Beta,52 Week Low,Short Ratio,Shares Short (prior month ),Forward Annual Dividend Rate,Trailing Annual Dividend Rate,5 Year Average Dividend Yield
count,86.000000,78.000000,78.000000,85.000000,80.000000,85.000000,70.000000,85.000000,72.000000,85.000000,85.000000,85.000000,0.0,74.000000,76.000000,70.000000
mean,42.500000,19.436026,2.523846,4.195412,8.996250,3.905765,14.263714,4.395176,1.734722,1.028000,102.227647,3.019176,NaN,2.184595,1.927895,2.527857
std,24.969982,15.137857,6.094044,3.223754,15.114115,4.008729,22.861582,5.382589,1.580948,0.422032,140.069442,1.864209,NaN,1.254928,1.204452,1.268731
min,0.000000,5.870000,-2.050000,0.250000,0.000000,-7.910000,-136.890000,-16.140000,0.550000,0.250000,9.850000,0.360000,NaN,0.090000,0.000000,0.420000
25%,21.250000,12.157500,1.352500,2.420000,2.137500,2.540000,11.262500,1.610000,0.957500,0.660000,42.570000,1.830000,NaN,1.352500,1.057500,1.525000
50%,42.500000,16.470000,1.770000,3.710000,4.610000,4.080000,13.865000,3.790000,1.300000,1.000000,70.590000,2.500000,NaN,1.920000,1.715000,2.495000
75%,63.750000,19.920000,2.330000,4.670000,10.205000,5.280000,16.785000,5.950000,1.722500,1.360000,118.620000,3.570000,NaN,2.995000,2.722500,3.180000
max,85.000000,104.420000,54.200000,16.560000,118.510000,17.180000,112.320000,23.160000,10.670000,2.150000,931.750000,13.330000,NaN,6.280000,6.070000,5.740000

In [30]:
df_excel['Price/Sales'].value_counts()

3.74    3
2.87    2
4.18    2
0.83    1
1.82    1
       ..
3.71    1
5.94    1
0.25    1
3.22    1
4.22    1
Name: Price/Sales, Length: 81, dtype: int64