# Exercises for Main Session 4 - Python for Data Manipulation, merges and concatenations.ipynb

### 1. Write a Pandas program to join the two given dataframes along rows and assign all data: student_data1, student_data2

In [ ]:
#  student_id                name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199

#  student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201

# Answer:

### 2. Write a Pandas program to join the two given dataframes along columns and assign all data: student_data1, student_data2

In [ ]:
#Answer:

### 3.  Write a Pandas program to append rows to an existing DataFrame and display the combined data: student_data1

In [ ]:
#Answer:

### 4. Write a Pandas program to append a list of dictioneries or series to a existing DataFrame and display the combined data: student_data

In [ ]:
#Answer:

### 5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id, student_data1, student_data2, student_data3

In [ ]:
# exam_data:
#    student_id  exam_id
# 0          S1       23
# 1          S2       45
# 2          S3       12
# 3          S4       67
# 4          S5       21
# 5          S7       55
# 6          S8       33
# 7          S9       14
# 8         S10       56
# 9         S11       83
# 10        S12       88
# 11        S13       12

# Answer:

### 6. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [ ]:
# student_data1:
#   student_id              name  marks
# 0         S1  Danniella Fenton    200
# 1         S2      Ryder Storey    210
# 2         S3      Bryce Jensen    190
# 3         S4         Ed Bernal    222
# 4         S5       Kwame Morin    199

# student_data2:
#   student_id              name  marks
# 0         S4  Scarlette Fisher    201
# 1         S5  Carla Williamson    200
# 2         S6       Dante Morse    198
# 3         S7    Kaiser William    219
# 4         S8   Madeeha Preston    201

#Answer:

### 7. Write a Pandas program to join the two dataframes with matching records from both sides where available : student_data1, student_data2

In [ ]:
#Answer:

### 8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only: data1, data2

In [ ]:
# data1:
#   key1 key2   P   Q
# 0   K0   K0  P0  Q0
# 1   K0   K1  P1  Q1
# 2   K1   K0  P2  Q2
# 3   K2   K1  P3  Q3
# data2:
#   key1 key2   R   S
# 0   K0   K0  R0  S0
# 1   K1   K0  R1  S1
# 2   K1   K0  R2  S2
# 3   K2   K0  R3  S3

### 9. Write a Pandas program to join two dataframes using keys from right dataframe only: data1, data2

In [ ]:
#Answer:

### 10. Write a Pandas program to Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame

In [ ]:
# Original DataFrames:
#      A  B
# 0  NaN  3
# 1  0.0  4
# 2  NaN  5
#    A    B
# 0  1  3.0
# 1  1  NaN
# 2  3  3.0

# Answer:

# Solutions

In [ ]:
import pandas as pd

In [ ]:
#1
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

In [ ]:
#2
print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along columns:")
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

In [ ]:
#3

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
print(combined_data)

In [ ]:
#4
s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])


dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

print("Original DataFrames:")
print(student_data1)
print("\nDictionary:")
print(s6)
combined_data =  student_data1.append(dicts, ignore_index=True, sort=False)
print("\nCombined Data:")
print(combined_data)

In [ ]:
#5
exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("Original DataFrames:")
print(student_data1)
print(student_data2)
print(exam_data)

print("\nJoin first two said dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

print("\nNow join the said result_data and df_exam_data along student_id:")
final_merged_data = pd.merge(result_data, exam_data, on='student_id')
print(final_merged_data)

In [ ]:
#6

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print("Merged data (inner join):")
print(merged_data)

In [ ]:
#7

print("Original DataFrames:")
print(student_data1)
print(student_data2)
merged_data = pd.merge(student_data1, student_data2, on='student_id', how='outer')
print("Merged data (outer join):")
print(merged_data)

In [ ]:
#8

data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data1, data2, how='left', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data2, data1, how='left', on=['key1', 'key2'])
print(merged_data)

In [ ]:
#9
print("Original DataFrames:")
print(data1)
print("--------------------")
print(data2)
print("\nMerged Data (keys from data2):")
merged_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(merged_data)
print("\nMerged Data (keys from data1):")
merged_data = pd.merge(data2, data1, how='right', on=['key1', 'key2'])
print(merged_data)

In [11]:
# 10
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})
df1.combine_first(df2)
print("Original DataFrames:")
print(df1)
print("--------------------")
print(df2)
print("\nMerge two dataframes with different columns:")
result = df1.combine_first(df2)
print(result)

Original DataFrames:
     A  B
0  NaN  3
1  0.0  4
2  NaN  5
--------------------
   A    B
0  1  3.0
1  1  NaN
2  3  3.0

Merge two dataframes with different columns:
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0