# Exercises for Main Session 3 - The making of Pandas data frames.ipynb

In [20]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./data/yahoo.xlsx')

### 1. How to get values on specific column

In [ ]:
#Code

### 2. Get 50-Day Moving Average > 100.00

In [ ]:
#Code

### 3. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. Sample Python dictionary data and list labels:
* exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
* 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
* 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
* 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
* labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### Expected Output:
attempts name qualify score

a 1 Anastasia yes 12.5

b 3 Dima no 9.0

.... i 2 Kevin no 8.0

j 1 Jonas yes 19.0

In [ ]:
#Code

### 4.Write a Pandas program to get the first 3 rows of a given DataFrame. Sample Python dictionary data and list labels:
* exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
* 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
* 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
* 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
* labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

First three rows of the data frame:

attempts name qualify score

a -> 1 Anastasia yes 12.5

b -> 3 Dima no 9.0

c -> 2 Katherine yes 16.5

In [ ]:
#code

### 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
* exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
* 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
* 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
* 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
* labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

Select specific columns:
name score
* a Anastasia 12.5
* b Dima 9.0
* c Katherine 16.5
... h Laura NaN
* i Kevin 8.0
* j Jonas 19.0

In [ ]:
#Code

### 6. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
Sample Python dictionary data and list labels:
* exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
* 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
* 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
* 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
* labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:
* d  James    NaN         3      no
* h  Laura    NaN         1      no

In [ ]:
#Code

### 7. Write a Pandas program to rename columns of a given DataFrame
Sample data:
Original DataFrame

col1 col2 col3<br>
0 1 4 7 <br>
1 2 5 8<br>
2 3 6 9<br>


New DataFrame after renaming columns:


Column1 Column2 Column3<br>
0 1 4 7<br>
1 2 5 8<br>
2 3 6 9<br>

In [ ]:
#Code

### 8. Write a Pandas program to convert a given list of lists into a Dataframe

Sample data:


Original list of lists:

[[2, 4], [1, 3]]

New DataFrame

col1 col2<br>
0 2 4<br>
1 1 3<br>

In [ ]:
#code

### 9. Write a Pandas program to replace the current value in a dataframe column based on last largest value. If the current value is less than last largest value replaces the value with 0.

In [ ]:
#Code

### 10.Write a Pandas program to fill missing values in time series data.

##### From Wikipedia , in the mathematical field of numerical analysis, interpolation is a type of estimation, a method of constructing new data points within the range of a discrete set of known data points.

Original DataFrame:

c1 c2<br>
2000-01-03 120.0 7.0<br>
2000-01-04 130.0 NaN<br>
2000-01-05 140.0 10.0<br>
2000-01-06 150.0 NaN<br>
2000-01-07 NaN 5.5<br>
2000-01-10 170.0 16.5<br>

DataFrame after interpolate:

c1 c2<br>
2000-01-03 120.0 7.00<br>
2000-01-04 130.0 8.50<br>
2000-01-05 140.0 10.00<br>
2000-01-06 150.0 7.75<br>
2000-01-07 160.0 5.50<br>
2000-01-10 170.0 16.50<br>

In [ ]:
#Code

### Solutions

In [9]:
#1
df['50-Day Moving Average']

0     1,203.95
1       109.96
2       172.03
3        32.72
4        48.74
        ...
81       66.15
82       48.38
83       74.10
84       38.23
85      236.11
Name: 50-Day Moving Average, Length: 86, dtype: object

In [17]:
#2.
df[df['Trailing P/E'] >= '50']

,Unnamed: 0,ticker,country,sector,RefIndex,Market Cap,Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio,...,Trailing Annual Dividend Rate,Trailing Annual Dividend Yield,5 Year Average Dividend Yield,Payout Ratio,Dividend Date,Ex-Dividend Date,Last Split Factor,Last Split Date,ScrapedName,Sector
0,0,GOOG,USA,Technology,SPY,818.1B,712.95B,50.67,24.46,1.70,...,NaN,NaN,NaN,0.00%,NaN,NaN,10000000/10000000,"Apr 27, 2015",Alphabet Inc. (GOOG),Technology
1,1,MSFT,USA,Technology,SPY,879.31B,830.01B,53.84,23.26,2.14,...,1.68,1.47%,2.35,77.46%,"Dec 13, 2018","Nov 14, 2018",2/1,"Feb 18, 2003",Microsoft Corporation (MSFT),Technology
3,3,T,USA,Technology,SPY,246.25B,424.67B,6.63,9.32,1.56,...,1.99,5.89%,5.25,38.79%,"Aug 1, 2018","Jul 9, 2018",2/1,"Mar 20, 1998",AT&amp;T Inc. (T),Communication Services
4,4,ORCL,USA,Technology,SPY,203.99B,192.27B,56.93,14.04,1.79,...,0.76,1.49%,1.36,78.35%,"Oct 30, 2018","Oct 15, 2018",2/1,"Oct 13, 2000",Oracle Corporation (ORCL),Technology
5,5,VZ,USA,Technology,SPY,221.22B,340.36B,7.10,11.27,1.95,...,2.36,4.34%,4.52,31.26%,"Nov 1, 2018","Oct 9, 2018",1000000/937889,"Jul 2, 2010",Verizon Communications Inc. (VZ),Communication Services
15,15,ADBE,USA,Technology,SPY,129.32B,124.77B,60.86,33.99,1.64,...,NaN,NaN,NaN,0.00%,NaN,"Mar 24, 2005",2/1,"May 24, 2005",Adobe Systems Incorporated (ADBE),Technology
20,20,KO,USA,Consumer,SPY,195.93B,227.45B,82.56,20.57,3.07,...,1.52,3.26%,3.10,292.31%,"Oct 1, 2018","Sep 13, 2018",2/1,"Aug 13, 2012",Coca-Cola Company (The) (KO),Consumer Defensive
27,27,NKE,USA,Consumer,SPY,134.88B,135.49B,72.03,26.75,2.33,...,0.78,0.91%,1.11,66.67%,"Oct 1, 2018","Aug 31, 2018",2/1,"Dec 24, 2015","Nike, Inc. (NKE)",Consumer Cyclical
34,34,WMT,USA,Services,SPY,278B,321.82B,54.30,19.77,3.57,...,2.06,2.15%,2.59,117.71%,"Jan 2, 2019","Dec 6, 2018",2/1,"Apr 20, 1999",Walmart Inc. (WMT),Consumer Defensive
35,35,CMCSA,USA,Services,SPY,163.25B,234.9B,7.00,12.77,0.92,...,0.69,1.83%,1.62,13.76%,"Oct 24, 2018","Oct 2, 2018",2/1,"Feb 21, 2017",Comcast Corporation (CMCSA),Communication Services
67,67,ING,USA,Financial,SPY,51.88B,82.29B,9.00,NaN,NaN,...,0.78,5.71%,NaN,45.58%,"Aug 21, 2018","Aug 10, 2018",2/1,"Jul 13, 2001","ING Group, N.V. (ING)",Financial Services
73,73,AMGN,USA,Healthcare,SPY,134.12B,137.86B,62.08,14.27,2.73,...,4.94,2.41%,2.13,133.15%,"Sep 7, 2018","Aug 16, 2018",2/1,"Nov 22, 1999",Amgen Inc. (AMGN),Healthcare

In [21]:
#3.
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [22]:
#4.
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("First three rows of the data frame:")
print(df.iloc[:3])

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [23]:
#5
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [24]:
#6.
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [27]:
#7.
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [26]:
#8
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]
# sets the headers as list
headers = my_lists.pop(0) 
print("Original list of lists:")
print(my_lists)
df = pd.DataFrame(my_lists, columns = headers)
print("New DataFrame")
print(df)

Original list of lists:
[[2, 4], [1, 3]]
New DataFrame
   col1  col2
0     2     4
1     1     3

In [25]:
#9. 
df1=pd.DataFrame({'rnum':[23, 21, 27, 22, 34, 33, 34, 31, 25, 22, 34, 19, 31, 32, 19]})
print("Original DataFrame:")
print(df1)
df1['rnum']=df1.rnum.where(df1.rnum.eq(df1.rnum.cummax()),0)
print("\nReplace current value in a dataframe column based on last largest value:")
print(df1)

Original DataFrame:
    rnum
0     23
1     21
2     27
3     22
4     34
5     33
6     34
7     31
8     25
9     22
10    34
11    19
12    31
13    32
14    19

Replace current value in a dataframe column based on last largest value:
    rnum
0     23
1      0
2     27
3      0
4     34
5      0
6     34
7      0
8      0
9      0
10    34
11     0
12     0
13     0
14     0

In [29]:
#10
sdata = {"c1":[120, 130 ,140, 150, np.nan, 170], "c2":[7, np.nan, 10, np.nan, 5.5, 16.5]}
df = pd.DataFrame(sdata)
df.index = pd.util.testing.makeDateIndex()[0:6]
print("Original DataFrame:")
print(df)
print("\nDataFrame after interpolate:")
print(df.interpolate())

Original DataFrame:
               c1    c2
2000-01-03  120.0   7.0
2000-01-04  130.0   NaN
2000-01-05  140.0  10.0
2000-01-06  150.0   NaN
2000-01-07    NaN   5.5
2000-01-10  170.0  16.5

DataFrame after interpolate:
               c1     c2
2000-01-03  120.0   7.00
2000-01-04  130.0   8.50
2000-01-05  140.0  10.00
2000-01-06  150.0   7.75
2000-01-07  160.0   5.50
2000-01-10  170.0  16.50

/usr/local/lib/python3.8/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing